html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none !important;
    color: #73911B;
}
body {
    margin-bottom: 60px;
}
body > .container {
    padding: 90px 15px 40px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #a8cb1e;
}

.book-navbar {
    background-color: #a8cb1e !important;
}

.dir-rtl {
    direction: rtl;
    text-align: right;
}

h1 {
    color: #a8cb1e;
}
.bookname {
    min-height: 125px;
}

.bookname a {
    font-weight: bold;
    font-size: 18px;
}